<a href="https://colab.research.google.com/github/sbbwoy/ESAA/blob/main/%EB%B9%85%EB%B6%84%EB%B0%A9_3_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello everybody')

hello everybody

Variables in STAT
1. quantitiative = numerical

    a. continuous: 키, 몸무게, 혈압

    b. discrete: 서울시 자동차 사고 건수, 자녀 수, the number of something

2. categorical

    a. ordinal: 설문조사

    b. nominal: 혈액형, 색깔, 성별

--> 전부 numerical로 변환해 분석

In [ ]:
print(type('A'))
print(type(1))
print(type(1.5))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

##제어문

1. if 문

In [ ]:
age = int(input('what is your age?: '))

if age>18: print('You can drive.')
else: print('Sorry, you can\'t drive')

what is your age?: 15
Sorry, you can't drive

In [ ]:
N = int(input('입력하는 숫자는 6과 20 사이의 짝수인가?: '))

if N % 2 == 0:
    if N >= 2 and N <= 5:print('No')
    elif N >= 6 and N <= 20: print('Yes')
    elif N > 20: print('No')
else: print('No')

입력하는 숫자는 6과 20 사이의 짝수인가?: 15
No

2. for문

In [ ]:
#List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

#variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum += val

print('The sum is', sum)

The sum is 48

In [ ]:
N = int(input('number: '))

sum = 0

for i in range(1, N+1):
    sum += i

print('The sum of 1 to the number is', sum)

number: 4
The sum of 1 to the number is 10

3. while문

In [ ]:
N = int(input('number: '))

i, sum = 1, 0

while i<=N:
    sum += i
    i += 1

print('The sum of 1 to the number is', sum)

number: 4
The sum of 1 to the number is 10

In [ ]:
num = 0
tot = 0.0

while True: 
    sval = input('enter a number: ')
    if sval == 'done': break
    try: fval = float(sval)
    except:
        print('invalid input')
        continue
    num += 1
    tot = tot+fval

print(tot, num, tot/num)

enter a number: 4
enter a number: 10
enter a number: 15
enter a number: adf
invalid input
enter a number: done
29.0 3 9.666666666666666

In [ ]:
astr = '호'

try:
    print('Hello')
    islnt = int(astr)
    print('World')
except:
    islnt = 'Integer로 변환할 수 없습니다.'

print('Done', islnt)

Hello
Done Integer로 변환할 수 없습니다.

In [ ]:
astr = '123'

try:
    print('Hello')
    islnt = int(astr)
    print('World')
except:
    islnt = 'Integer로 변환할 수 없습니다.'

print('Done', islnt)

Hello
World
Done 123